.top_tracks_main_display {
  padding: 80px;
  width: 100%;
  flex-direction: column;
  max-width: 1400px;
  background-color: '#181818';
  margin: 0 auto;
  display: flex;
  height: 100%;
}
.top_tracks_link_display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.top_tracks_link_display h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}
.top_tracks_link_display_children {
  color: #b3b3b3;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: 150ms;
  height: 10px;
}
.top_tracks_link_display_active_children {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: 150ms;
  height: 10px;
  text-decoration: underline;
}
.top_tracks_link_display div h4:hover {
  color: white;
}
.top_tracks_link_display div {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.top_track_display_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: 150ms;
  padding: 10px;
  align-items: center;
}
.top_track_display_item:hover {
  background-color: #b3b3b311;
}
.top_track_display_item_left {
  display: flex;
}
.top_track_display_item_left img {
  width: 50px;
  margin-right: 20px;
}
.top_track_display_item_left div h4 {
  color: white;
  font-family: 'Poppins', sans-serif;
}
.top_track_display_item_left div h5 {
  color: #b3b3b3;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.top_track_display_item_right h5 {
  color: #b3b3b3;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
